* {
    margin: 0;

}

/* Navigation css style */

.header {
    background: #FFF8F3;
    background-image: url(../Assets/images/header_bg.png), url(../Assets/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

nav {
    display: flex;
    justify-content: space-between;

}

nav h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    margin: 51px 226px;
}

nav ul {
    display: flex;
    margin: 51px 226px;
    align-items: center;
}

nav li {
    list-style-type: none;

}

nav li a {
    padding-left: 20px;
    text-decoration: none;
    color: #474747;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    margin-left: 60px;
    padding: 10px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

}

/* hero section styles or bannr section */
.banner-area {
    display: flex;
    align-items: center;
    margin: 0px 180px;
}

.banner-sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}

.banner-main-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #181818;
}

.banner-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.banner-image img {
    width: 500px;
    height: 576px;

}

/* main content styles */

main {
    max-width: 1050px;
    margin: 0 auto;
}

.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 50px;
}

.section-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.infoboxarea {
    display: flex;
    justify-content: space-around;


}

.info-title {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #757575;
    margin-top: 20px;
}

.info-description {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}

/* skills section style */

.skill-container {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-description {
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
}

.skill-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-top: 10px;
}

/* Resume */

.resume-content-area {
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
}

.Resume-section {
    margin-top: 100px;
}

.education-section-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
}

.section-sub-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;

}

.section-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-area-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
    margin-bottom: 20px;

}